<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>CamShip</string>
	<key>CFBundleDocumentTypes</key>
	<array/>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>farax</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<string>NO</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>NSAppleMusicUsageDescription</key>
	<string>We need to access your Apple music</string>
	<key>NSCalendarsUsageDescription</key>
	<string>We need to access your calendar to help you check monthly orders</string>
	<key>NSCameraUsageDescription</key>
	<string>We need to access your camera to take a picture to upload avatar</string>
	<key>NSContactsUsageDescription</key>
	<string>We need to access your contacts to use in our app</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your location is required to get your current zone in order to get exactly shipping price and create your store</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location is required to get your current zone in order to get exactly shipping price and create your store</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need to access your microphone to make sure you a real person</string>
	<key>NSMotionUsageDescription</key>
	<string>We need to access your device’s accelerometer to use in our app</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need to access your photo library to upload avatar</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We need the speech recognition permission</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<false/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
